h1{
 text-align: center;
 color:darkgreen;
}

h2{
    font-style: oblique;
    color: green;
}

body{
    text-align: center;
    font-size: 25px;
    background-color: lightgreen;
}

div{
    columns: 2;
    text-align: center;
}

img{
    width: 300px;
    height: 200px;
}