nav{
  background-color:darkmagenta;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

nav ul {
list-style: none;
margin: 0;
padding: 0;
display: flex;
gap: 20px;
align-items: center;  
}

nav a {
color:aliceblue;
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-size: 17px;
font-weight: bold;
}

nav a:hover {
background-color: #555;
}

h1{
  text-align: center;
  font-family: fantasy;
  background-color:linen;
}

#carrito {
  display: none;
  background-color: thistle;
  width: 220px;
  padding: 12px;
  border: 2px solid black;  
  position: absolute;
  right: 120px;              
  top: 60px;
  border-radius: 10px;
  font-size: 15px;
}


#icono-carrito {
  margin-left: auto;
  cursor: pointer;
  font-size: 28px;     
  font-weight: bold; 
  color: white;
  padding-right: 30px; 
}


#carrito ul {
  padding: 0;
}

#carrito li {
  margin: 5px 0;
  font-weight: bold;
}

#Discos{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 20px;
}

#card{
  text-align: center;
  background-color: thistle;
  border: 1px solid black;
  font-size: 18px;
  width: 300px;
  height: 500px;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
}

#card:hover{
  background-color: #eaf2fc;
  color: black;
  transform: scale(1.005);
  transition: all 0.3s ease;
}

#card h2 {
  margin-bottom: 5px;
}

.precio {
  font-weight: bold;
  margin: 5px 0 10px 0;
}

#card p {
  margin: 6px 0;
}

#card button {
  margin-top: 10px;
}

#informacion{
 font-family: fantasy;
 font-size: bold;
 font-size: 20px;
}

body{
 background-color: lightpink;
 padding-top: 70px;
 text-align: center;
}

#footer {
  background-color: #5a005a;   
  color: white;
  text-align: center;
  padding: 20px 10px;
  font-size: 17px;
  margin-top: 50px;
  border-top: 4px solid #ffb6c1; 
}


#nosotros {
  max-width: 800px;
  margin: 40px auto;
  background-color: thistle;
  padding: 25px 30px;
  border-radius: 12px;
  font-size: 18px;
  line-height: 1.7;
}

#nosotros p {
  margin-bottom: 15px;
}

